* {
  font-family: "Gowun Dodum", sans-serif;
}

body {
  background-color: #f4d7eb;
}

#box {
  background-color: white;
  border-radius: 15px;
  height: 70%;
  width: 80%;
  text-align: center;
  min-height: 635px;
  margin: 0 auto;
}

#main {
  height: 70%;
  width: 80%;
  text-align: center;
}

.btn {
  border: solid 1px #f4d7eb;
  color: black;
}
.btn:hover {
  background-color: #f4d7eb;
  transition: transform 0.2s;
  transform: scale(1.1);
}

p {
  font-size: 25px;
}
